@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #da1a5a;
  color: #000;
  gap: 0;
}

header {
  background: #da1a5a;
  color: #000;
  text-align: center;
  padding: 0;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  padding: 0 70px;
  gap: 55px;
  overflow: hidden;
}

footer {
  background: #da1a5a;
  color: #000;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}

footer a {
  color: #000;
  text-decoration: underline;
}

.menu-lateral {
  width: 10%;
  background: #da1a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.menu-lateral nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu-lateral nav ul li a {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #111;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 10px;
  box-sizing: border-box;
  word-break: break-word;
}

.menu-lateral nav ul li a:hover {
  transform: scale(1.4);
}

.menu-lateral nav ul li a.forca {
  background-image: url('../images/forca.jpg');
  color: transparent
}

.menu-lateral nav ul li a.velha {
  background-image: url('../images/velha.jpg');
  color: transparent
}

.menu-lateral nav ul li a.quebraCabeca {
  background-image: url('../images/quebraCabeca.jpg');
  color: transparent
}

.conteudo-jogo {
  flex: 1;
  padding: 20px 40px;
  background: #f9dfe7;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 400px;
}

.hidden {
  display: none !important;
}

/* Responsividade */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .menu-lateral {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .menu-lateral nav ul {
    flex-direction: row;
    gap: 20px;
  }

  .menu-lateral nav ul li a {
    width: 60px;
    height: 60px;
    font-size: 0.8rem;
  }

  .conteudo-jogo {
    padding: 20px 15px;
    margin-right: 0;
  }
}
