      body {
          font-family: Arial, sans-serif;
          background-color: #776a6a;
          margin: 0;
          padding: 0;
      }

      .container {
          max-width: 1300px;
          margin: 40px auto;
          background-color: #D3D3D3;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
          text-align: center;
          color: #333;
      }

      #formCadastro {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;

      }

      #formCadastro label {
          align-self: flex-start;

      }

      label {
          display: block;
          margin-top: 10px;
          margin-left: 40px;
          font-weight: bold;
      }

      input {
          width: 95%;
          padding: 8px;
          margin-top: 5px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 4px;
      }

      button {
          margin-top: 15px;
          padding: 10px;
          background-color: #0c7a24;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
          align-self: flex-end;
          margin-right: 35px;
      }

      button:hover {
          background-color: #0c5e1e;
      }

      .lista {
          margin-top: 25px;
      }

      table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 10px;
      }

      th,
      td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
      }

      th {
          background-color: #0c7a24;
          color: white;
      }

      .remover-btn {
          background-color: #dc3545;
          color: white;
          border: none;
          padding: 5px 8px;
          border-radius: 4px;
          cursor: pointer;
      }

      .remover-btn:hover {
          background-color: #d81327;
      }

      .editar-btn {
          background-color: #28a745;
          color: white;
          border: none;
          padding: 5px 8px;
          border-radius: 4px;
          cursor: pointer;
          margin-right: 5px;
      }